.me {
  border-radius: 50%;
  /* max-width: 30%; */
  width: 80%;
}

.homeGridParent {
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1.5fr 0.5fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 2px 2px;
  grid-auto-flow: column dense;
  grid-template-areas:
      "homeGrid4 homeGrid2"
      "homeGrid1 homeGrid2"
      "homeGrid3 homeGrid2";
  align-items: center;
}

.homeGrid2 {
  grid-area: homeGrid2;
}

.homeGrid1 {
  grid-area: homeGrid1;

}

.homeGrid3 {
  grid-area: homeGrid3;
}

.homeGrid1 {
  grid-area: homeGrid1;
}

.homeH1 {
  font-size: 5rem;
  margin: 0;
}

.firstName,
.lastName {
  display: flex;
  justify-content: space-between;
}
.firstName > div,
.lastName > div {
  transition: color 0.5s;
  width: 10%;
}
.link:visited {
  color: #ff1818;
}
.colourOne:hover {
  color: #ff4b4a;
}
.colourTwo:hover {
  color: #ff8c89;
}
.colourThree:hover {
  color: #ffbbb6;
}
.colourFour:hover {
  color: #fee5e0;
}
