.website-container {
  width: 200px;
}
.websiteImage {
  max-width: 30%;
}
/* .websitePreviewContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
} */

.websiteContainer > h2 {
  letter-spacing: 0.5rem;
}

.websitePreviewContainer{
    display:flex;
    flex-direction: row;
}
